@import "tailwindcss";
@import "@nuxt/ui";

body {
  background-color: white
}

/* scrollbar width */
::-webkit-scrollbar {
  width: 8px;
}

/* remove track background */
::-webkit-scrollbar-track {
  background: transparent;
}

/* scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #00c950;
  border-radius: 4px;
}